@import url('/assets/fonts/Righteous.ttf');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Righteous';
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    color: white;
    line-height: 1.6;
    background-color: rgb(11, 10, 16);
    background: linear-gradient(84deg, rgba(14, 15, 25, 1) 0%, rgb(2, 26, 13) 100%);
}

.header {
    height: 60px;
    width: 100%;
    box-shadow: 0px 10px 50px rgba(2, 98, 45, 0.4);
    background: rgba(29, 29, 29, 1);
    position: sticky;
    top: 0px;
    align-content: center;
    padding: 0px 20px;
    z-index: 999;

    .menu {
        list-style: none;
        display: flex;
        justify-content: end;
        gap: 1.5rem;
    }

    a {
        color: white;
        text-decoration: none;
        transition: color 0.3s;
    }

    a:hover {
        color: rgb(7, 184, 151);
    }
}

.main {
    justify-items: center;

    section {
        margin: 6rem 6rem;
        max-width: 1200px;
    }
}

p {
    font-weight: normal;
    font-size: 15px;
    color: #edecec;
}

.work {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin: 10px 0px;
}

hr {
    margin: 2px 0px;
}

.hero {
    height: 90svh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1555066931-4365d14bab8c?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    .profile {
        text-align: left;
        padding-bottom: 6rem;
        display: flex;

        .me {
            flex: 2;
            margin: 0rem 6rem;

            .myname {
                white-space: nowrap;
                overflow: hidden;
                color: rgb(0, 227, 239);
                border-right: 1px solid;
                animation: typing 3s steps(22), blink .5s step-end infinite alternate;
            }

            .platform {
                margin-top: 2rem;
                display: flex;
                text-align: center;
                .stack {
                    margin: 10px;
                    padding: 10px;
                    filter: drop-shadow(0rem 0rem 0.5rem rgb(4, 137, 100));
                }
            }
        }

        .my-profile {
            flex: 1;
            align-items: center;
            align-content: center;
            justify-items: center;
            img {
                height: 250px;
                border-radius: 50%;
                border-color: rgb(12, 122, 63);
                box-shadow: 0px 0px 100px rgb(1, 166, 75, 1);
            }
        }
    }
}

.my-skill>ol>li {
    padding-left: 16px;
    margin-top: 14px;
    position: relative;
    font-size: 16px;
    line-height: 20px;

    &:before {
        content: '';
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid rgb(4, 137, 100);
        /* background-color: rgb(4, 137, 100); */
        box-shadow: rgba(7, 231, 168, 0.35) 0px 0px 15px;
        top: -4px;
        left: -28.8px;
        position: absolute;
    }

    h4 {
        padding: 2px 0px;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.polygon-img {
    height: 50px;
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
    size: 10%;
}

.about-tab {
    margin-top: 2rem;
    justify-content: center;

    .work-history {
        margin: 10px;
        padding: 10px;
        background-color: rgba(59, 60, 60, 0.5);
        box-shadow: rgba(7, 231, 168, 0.35) 0px 0px 5px;
        border-radius: 10px;

        .subtitle {
            font-weight: normal;
            font-size: 14px;
            color: rgb(205, 202, 202);
        }

        .detail {
            padding: 0rem 0.5rem 1rem 0rem;
        }

        .step {
            /* padding: 42px; */
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .stepper {
            padding: 1rem 0.5rem;
            list-style: none;
        }

        .v-stepper {
            position: relative;
        }

        .stepper .circle {
            background-color: white;
            border: 3px solid rgb(4, 137, 100);
            border-radius: 100%;
            width: 20px;
            height: 20px;

        }

        .stepper .line {
            top: 20px;
            left: 9px;
            height: 100%;
            position: absolute;
            border-left: 3px solid rgb(4, 137, 100);
        }

        .step-content {
            margin-left: 20px;
            display: inline-block;
        }
    }
}

.project {
    .list {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, auto);
        margin-top: 1rem;

        .ach {
            padding: 10px;
            max-width: 320px;
            border-radius: 6px;
            background-color: rgba(59, 60, 60, 0.5);
        }
    }
}

span.mdi {
    height: 40px;
    width: 40px;
}

.footer {
    height: 20svh;
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgba(59, 60, 60, 0.5);

    a {
        color: white;
        margin: 0 2rem;
        text-decoration: none;
        transition: color 0.3s;
    }

    a:hover {
        color: rgb(23, 167, 141);
    }
}

.icon-lg {
    font-size: 48px;
}

.icon-md {
    font-size: 28px;
}

.icon-sm {
    font-size: 16px;
}

@media screen {
    
}